<!DOCTYPE html>
<html>
<head>
    <title>Départs de train</title>
</head>
<body>
    <h1>Départs de train</h1>
    <ul>
        {% for departure in departures %}
            <li>{{ departure['name'] }} - {{ departure['time'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>

if line_ref == "STIF:Line::C01741:":
            print(f"Ligne U, Destination: {destination_name}, Départ prévu à: {convert_time_expected}")
        if line_ref == "STIF:Line::C01736:":
            print(f"Ligne N, Destination: {destination_name}, Départ prévu à: {convert_time_expected}")
        if line_ref == "STIF:Line::C01727:":
            print(f"Ligne C, Destination: {destination_name}, Départ prévu à: {convert_time_expected}")